{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{deps, [
  % Replicated datatype library
  {antidote_crdt, {git, "https://github.com/AntidoteDB/antidote_crdt", {tag, "v0.1.2"}}},
  % Protocol buffer decoding/encoding
  {antidote_pb_codec, {git, "https://github.com/AntidoteDB/antidote_pb_codec", {tag, "v0.0.5"}}},
  % ranch socket acceptor pool for managing protocol buffer sockets
  {ranch, "1.5.0"},
  % lager for logging:
  {lager, "3.7.0"},
  {meck, "0.8.13"},
  {camus, {git, "https://github.com/LightKone/camus", {ref,"d01b1400cbe1dd9de312e0dae5552e635e14fc72"}}}
]}.

{profiles, [
  {test, [
    {deps, [
      % Antidote protocol buffer client for testing:
      {antidote_pb, {git, "https://github.com/AntidoteDB/antidote-erlang-client", {tag, "v0.2.4"}}},
      % meck mocking framework
      {meck, "0.8.13"}
    ]}
  ]}
]}.

% Release configuration, see https://www.rebar3.org/docs/releases
{relx, [{release, {minidote, "0.0.1"}, [minidote]},
        {extended_start_script, true},
        {dev_mode, false},
        {include_erts, false},
        {include_src, false},
        {overlay, [{copy, "bin/env", "bin"},
                   {copy, "config/vm.args", "releases/\{\{release_version\}\}/vm.args"}]}]}.
